{% extend 'layout/base' %}

{% block 'content' %}

<section class="story center">
    <h1>Our Story</h1>
    <div class="line"></div>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
        Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
        sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius
        a, semper congue, euismod non, mi.
    </p>

    <p>
        Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non
        fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa,
        scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue.
    </p>
</section>

<section class="connect center">
  <h2>Connect</h2>
  <div class="line"></div>

  <p>Please find me on the following platforms for updates, releases, and discussions.</p>

  <div class="social-links">
    <a href="#"><i class="bi bi-linkedin"></i></a>
    <a href="#"><i class="bi bi-twitter-x"></i></a>
    <a href="#"><i class="bi bi-bluesky"></i></a>
  </div>
</section>

<section class="support">
    <h2>Support SigmaPHP</h2>
    <div class="line"></div>

    <p>
        SigmaPHP is an open-source project and thrives on community support.
        Whether you want to contribute code, improve documentation, or report a
        bug, your help is always welcome.
    </p>

    <p>
        If you have a contribution in mind or found an issue, feel free to open a
        Pull Request or submit an Issue on GitHub.
    </p>

    <p>
        <a href="https://github.com/agashe/SigmaPHP" target="_blank"><i class="bi bi-github"></i> SigmaPHP on GitHub</a>
    </p>
</section>

{% end_block %}
