{% extend 'layout/base' %}

{% block 'content' %}
    <div class="container">
        <img src="/assets/images/SigmaPHP-Logo.png" alt="SigmaPHP Logo" class="logo">
        <div class="secondary-text">SigmaPHP v{{ $version }}</div>   
    </div>

    <p class="description">
        Designed with simplicity, lightness, and speed at its core, <b>SigmaPHP</b> empowers developers to create efficient and high-performing solutions with ease. Whether you're a seasoned developer or just starting, <b>SigmaPHP</b> offers a streamlined experience to bring your ideas to life.
    </p>

    <p class="description">
        You can start your journey by visiting one of the following links:
    </p>

    <div class="links">
        <a href="https://github.com/your-github-repo" target="_blank">GitHub</a>
        <a href="https://your-demo-link.com" target="_blank">Demo App</a>
        <a href="https://your-documentation-link.com" target="_blank">Documentation</a>
    </div>
{% end_block %}